<div class="card">
  <%= link_to image_tag("プロトタイプの画像", class: :card__img ), prototype_path%>
  <div class="card__body">
    <%= link_to "プロトタイプのタイトル", prototype_path, class: :card__title%>
    <p class="card__summary">
      <%= "プロトタイプのキャッチコピー" %>
    </p>
    <%= link_to "#{@prototype.user.name}", root_path, class: :card__user %>
  </div>
</div>


<%# 画像およびプロトタイプ名におけるリンク先が、詳細ページとなるように設定しました！！
root_path → prototype_path %>